@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-text-main font-sans overflow-x-hidden;
}

/* Scrollbar biar rapi */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: #FF4D80; border-radius: 10px; }
