@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Menggunakan latar abu muda, teks utama gelap */
  @apply bg-light-grey text-text-main font-sans overflow-x-hidden;
}

/* Scrollbar Ungu */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: #7F00FF; border-radius: 10px; }
::-webkit-scrollbar-track { background: #E5E7EB; }
