@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-light font-body overflow-x-hidden;
}

/* Hapus Scrollbar Bawaan (Biar rapi) */
::-webkit-scrollbar { width: 0px; }

/* Utilitas Border Teks */
.text-stroke { -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2); color: transparent; }
.text-stroke-accent { -webkit-text-stroke: 1px #D1F245; color: transparent; }
